/* src/styles/Header.css */

header {
    background-color: #28937a; /* Dark teal background */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  nav a:hover {
    background-color: #00000058; /* Lighter teal on hover */
    transform: scale(1.1);
  }
  
  nav a.active {
    background-color: #000000; /* Highlight active link */
  }
  
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/sdg-background.jpg') no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  header h1, nav a {
    animation: fadeIn 2s ease-in-out;
  }