.sdgs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

.sdg-card {
  width: 200px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  margin: 8px; /* Adjust the margin as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}